{
    "env" : {
        "minify" : {

            "plugins": [
                ["replace-identifiers", {
                    "audioContext"  : "z",
                    "scriptNode"    : "y",
                    "trainingMode"  : "w",
                    "phase"         : "u",
                    "_phase"        : "r",
                    "label"         : "$",
                    "startDate"     : "_",
                    "inputData"     : "v",
                    "max_gain"      : "o",
                    "cooldown"      : "s",
                }]
            ]
        },
        "development" : {
            "presets": ["es2015", "stage-1", "react"]
        }
    }
}