{
    "env" : {
        "minify" : {

            "presets": [
                ["babili",{
                    "keepClassName" : false,
                    "keepFnName"    : false,
                    "mangle":{
                        "blacklist"     : { "foo": true, "bar": true},
                        "topLevel"      : true
                    },
                    "unsafe":{
                        "typeConstructors"  : true,
                        "flipComparisons"   : true,
                        "guards"            : true
                    },
                    "properties":{
                        "memberExpressions" : true,
                        "propertyLiterals"  : true
                    },
                    "replace": false,
                    "builtins": false
                }]
            ],

            "plugins": [
                ["minify-replace",{
                    "replacements": [
                        {
                            "identifierName": "MIC_THREESHOLD",
                            "replacement": {
                                "type"  : "numericLiteral",
                                "value" : 0.1
                            }
                        },
                        {
                            "identifierName": "SCRIPTNODE_BUFFER_SIZE",
                            "replacement": {
                                "type"  : "numericLiteral",
                                "value" : 4096
                            }
                        },
                        {
                            "identifierName": "N_CARD",
                            "replacement": {
                                "type"  : "numericLiteral",
                                "value" : 16
                            }
                        },
                        {
                            "identifierName": "N_CARD_LN",
                            "replacement": {
                                "type"  : "numericLiteral",
                                "value" : 5
                            }
                        },
                        {
                            "identifierName": "PHASE_DURATION",
                            "replacement": {
                                "type"  : "numericLiteral",
                                "value" : 15
                            }
                        }
                    ]
                }],
                ["replace-identifiers", {
                    "audioContext"  : "z",
                    "scriptNode"    : "y",
                    "trainingMode"  : "w",
                    "phase"         : "u",
                    "_phase"        : "r",
                    "label"         : "$",
                    "startDate"     : "_",
                    "inputData"     : "v",
                    "max_gain"      : "o",
                    "cooldown"      : "s",
                }]
            ]
        },
        "development" : {
            "presets": ["es2015", "stage-1", "react"]
        }
    }
}